@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center, text-opacity-50">
    <h1 class="display-4">Вітаю на сторінці моєї улюбленої лаби по ІС</h1>
    <p>Правило номер 1: тикаємо тільки туди куди вкаже автор</p>
    <p>Правило номер 2: Якщо ви хочете тикнути куди не потрібно, дивіться в правило номер 1</p>
</div>

